.container {
  padding: 16px;
}

.skillContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  justify-content: flex-start;
}

.skillContainer :global(.selection.dropdown) {
  min-width: 5em !important;
}
