.skillContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  justify-content: flex-start;
}

.skillContainer :global(.selection.dropdown) {
  min-width: 5em !important;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionTitle :global(.icon.button) {
  padding: 0.35em 0.35em 0.35em !important;
}

:global(.field) label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.addBtnContainer {
  padding: 1em 0;
  text-align: right;
}

.nestAddBtnContainer {
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.deleteBtn {
  display: flex;
  align-items: flex-end;
}

.deleteBtn :global(.button.icon) {
  /* padding: 0.25em 0.25em 0.25em !important; */
  /* margin-top: 1.6em; */
}
