.doc {
  padding: 0;
  margin: 0 auto;
  /* background: rgb(204, 204, 204); */
  overflow: hidden;
  width: fit-content;
}

.doc > div {
  margin: 32px;
  padding: 0;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

@media print {
  .doc > div {
    box-shadow: none !important;
    margin: 0 !important;
    transform: none !important;
  }
}
