.iconLabelBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 3mm;
}

.iconLabelIcon {
  font-size: 1em;
}

.iconLabelTxt {
  margin-left: 1.5mm;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
