@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

.container {
  margin: 12.7mm;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.2;
  width: calc(210mm - 25.4mm);
}

.fontThin {
  font-weight: 100;
}

.fontLight {
  font-weight: 300;
}

.fontBold {
  font-weight: 700;
}

@page {
  size: A4 portrait;
  margin: 12.7mm;
}

@media print {
  .container {
    margin: 0 !important;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3mm;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  flex: 0 0 100%;
}

.topHeading {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 1mm;
}

.topInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.lefCol {
  flex: 0 0 60%;
  max-width: 60%;
}

.rightCol {
  flex: 0 0 35%;
  max-width: 35%;
}

.sectionList {
  margin: 0;
  margin-top: 1.5mm;
  padding-left: 1.2em;
}
.sectionList li {
  padding-top: 1mm;
}

.skillTable {
  width: 100%;
}

.skillTable td:last-child {
  text-align: right;
}

.skillTable td.grpHeader {
  text-align: left;
  font-weight: 300;
  padding-top: 2mm;
}

.skillTable tr {
  border-spacing: 0;
  border-collapse: collapse;
}

.skillTable,
.skillTable tr,
.skillTable td {
  margin: 0;
  padding: 0;
}

.detailsLabel {
  font-weight: 300;
  padding-right: 1.5mm;
}
